// AileEx.rc
#pragma code_page(65001)  // UTF-8
#include "../src/resource.h"
#include <windows.h>
#include <commctrl.h>

// Application icon
IDI_AILEEX ICON "AileEx.ico"

// Toolbar bitmaps
IDB_TOOLBAR_EXTRACT BITMAP "Extract.bmp"
IDB_TOOLBAR_OPEN BITMAP "Open.bmp"
IDB_TOOLBAR_ADD BITMAP "Add.bmp"
IDB_TOOLBAR_INFO BITMAP "Info.bmp"
IDB_TOOLBAR_SETTINGS BITMAP "Settings.bmp"
IDB_TOOLBAR_TEST     BITMAP "Test.bmp"

// Embed DPI-aware / visual-styles manifest
1 RT_MANIFEST "manifest.xml"

/////////////////////////////////////////////////////////////////////////////
// Main menu
/////////////////////////////////////////////////////////////////////////////
IDR_MAIN_MENU MENU
BEGIN
    POPUP "ファイル(&F)"
    BEGIN
        MENUITEM "開く(&O)...\tCtrl+O",                IDM_FILE_OPEN
        POPUP "最近使ったアーカイブ(&R)"
        BEGIN
            MENUITEM "(履歴なし)",                      IDM_FILE_MRU_PH, GRAYED
        END
        MENUITEM SEPARATOR
        MENUITEM "閉じる(&C)\tCtrl+F4",                ID_CLOSE
        MENUITEM "終了(&X)\tEsc",                       IDM_FILE_EXIT
    END
    POPUP "操作(&A)"
    BEGIN
        MENUITEM "展開(&E)...\tF5",                    ID_EXTRACT
        MENUITEM "追加(&A)...\tCtrl+A",                ID_ADD
        MENUITEM "テスト(&T)\tCtrl+T",                  ID_TEST
        MENUITEM SEPARATOR
        MENUITEM "関連付けで開く(&O)\tEnter",           ID_OPEN_ASSOC
        MENUITEM "削除(&D)\tDel",                      ID_DELETE
        MENUITEM "情報(&I)",                            ID_INFO
        MENUITEM SEPARATOR
        MENUITEM "設定(&S)...",                         ID_SETTINGS_DLG
    END
    POPUP "表示(&V)"
    BEGIN
        MENUITEM "ツールバー(&B)",                      IDM_VIEW_TOOLBAR
        MENUITEM "ツリー表示(&T)",                      IDM_VIEW_TREE
    END
    POPUP "ヘルプ(&H)"
    BEGIN
        MENUITEM "バージョン情報(&A)...",               IDM_HELP_ABOUT
    END
END

/////////////////////////////////////////////////////////////////////////////
// Compression dialog
/////////////////////////////////////////////////////////////////////////////
IDD_COMPRESS DIALOGEX 0, 0, 360, 180
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "圧縮"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "出力先",          IDC_STATIC,     7,   4, 346,  28
    LTEXT           "ファイル名:",      IDC_STATIC,    14,  16,  42,   8
    EDITTEXT        IDC_OUTPUT_PATH,   58,  14, 240,  14, ES_AUTOHSCROLL
    PUSHBUTTON      "参照...",          IDC_BROWSE,   302,  13,  44,  15

    GROUPBOX        "圧縮設定",         IDC_STATIC,     7,  38, 346,  60
    LTEXT           "形式:",            IDC_STATIC,    14,  52,  28,   8
    COMBOBOX        IDC_FORMAT,        44,  50,  90, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "レベル:",          IDC_STATIC,   142,  52,  30,   8
    COMBOBOX        IDC_LEVEL,        174,  50,  80, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "メソッド:",        IDC_STATIC,    14,  70,  30,   8
    COMBOBOX        IDC_METHOD,        46,  68, 110, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    GROUPBOX        "暗号化",           IDC_STATIC,     7, 104, 346,  38
    LTEXT           "パスワード:",       IDC_STATIC,    14, 118,  46,   8
    EDITTEXT        IDC_PASSWORD,       62, 116, 150,  14, ES_AUTOHSCROLL | ES_PASSWORD
    AUTOCHECKBOX    "ヘッダを暗号化",   IDC_ENCRYPT_HDR, 220, 118, 100, 10

    PUSHBUTTON      "詳細...",          IDC_ADV_BUTTON, 185, 158,  50,  14
    DEFPUSHBUTTON   "OK",              IDOK,          248, 158,  50,  14
    PUSHBUTTON      "キャンセル",       IDCANCEL,      302, 158,  50,  14
END

/////////////////////////////////////////////////////////////////////////////
// Advanced compression dialog
/////////////////////////////////////////////////////////////////////////////
IDD_COMPRESS_ADV DIALOGEX 0, 0, 290, 215
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "詳細圧縮設定"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "圧縮オプション",        IDC_STATIC,     7,   4, 276, 170
    LTEXT           "辞書サイズ:",           IDC_STATIC,    14,  20,  58,   8
    COMBOBOX        IDC_ADV_DICT,           76,  18, 110, 130, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "ワードサイズ:",         IDC_STATIC,    14,  38,  58,   8
    COMBOBOX        IDC_ADV_WORD,           76,  36, 110, 130, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "ソリッドブロック:",     IDC_STATIC,    14,  56,  58,   8
    COMBOBOX        IDC_ADV_SOLID,          76,  54, 110, 130, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "スレッド数:",           IDC_STATIC,    14,  74,  58,   8
    COMBOBOX        IDC_ADV_THREADS,        76,  72, 110, 130, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "分割ボリューム:",       IDC_STATIC,    14,  92,  58,   8
    COMBOBOX        IDC_ADV_VOLUME,         76,  90, 110, 130, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "追加パラメーター:",     IDC_STATIC,    14, 112,  68,   8
    LTEXT           "(例: mf=bt4 mpass=2)", IDC_STATIC,    14, 122,  90,   8
    EDITTEXT        IDC_ADV_PARAMS,         14, 134, 256,  14, ES_AUTOHSCROLL
    LTEXT           "※ 7z形式以外ではソリッドブロックは無効です。",     IDC_STATIC, 14, 154, 260, 8
    LTEXT           "※ 分割ボリュームは gz/bz2/xz/tar では適用されません。", IDC_STATIC, 14, 162, 260, 8

    DEFPUSHBUTTON   "OK",              IDOK,          176, 195,  50,  14
    PUSHBUTTON      "キャンセル",       IDCANCEL,      233, 195,  50,  14
END

/////////////////////////////////////////////////////////////////////////////
// RAR Advanced Compress dialog
/////////////////////////////////////////////////////////////////////////////
IDD_RAR_COMPRESS_ADV DIALOGEX 0, 0, 290, 215
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "RAR詳細設定"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "RARオプション",          IDC_STATIC,     7,   4, 276, 185
    LTEXT           "辞書サイズ:",             IDC_STATIC,    14,  20,  58,   8
    COMBOBOX        IDC_RAR_ADV_DICT,         76,  18, 110, 130, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "スレッド数:",             IDC_STATIC,    14,  38,  58,   8
    COMBOBOX        IDC_RAR_ADV_THREADS,      76,  36, 110, 130, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "ソリッドアーカイブ",      IDC_RAR_ADV_SOLID, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 58, 120, 10
    LTEXT           "リカバリレコード:",        IDC_STATIC,    14,  74,  62,   8
    COMBOBOX        IDC_RAR_ADV_RECOVERY,     80,  72, 106, 130, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "分割ボリューム:",          IDC_STATIC,    14,  92,  62,   8
    COMBOBOX        IDC_RAR_ADV_VOLUME,       80,  90, 106, 130, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "追加パラメーター:",        IDC_STATIC,    14, 114,  68,   8
    LTEXT           "(例: -htb -oi)",          IDC_STATIC,    14, 124,  80,   8
    EDITTEXT        IDC_RAR_ADV_PARAMS,       14, 136, 256,  14, ES_AUTOHSCROLL
    LTEXT           "※ 分割ボリュームは Rar.exe (コンソール版) のみ対応", IDC_STATIC, 14, 158, 260, 8

    DEFPUSHBUTTON   "OK",              IDOK,          176, 195,  50,  14
    PUSHBUTTON      "キャンセル",       IDCANCEL,      233, 195,  50,  14
END

/////////////////////////////////////////////////////////////////////////////
// Progress dialog
/////////////////////////////////////////////////////////////////////////////
IDD_PROGRESS DIALOGEX 0, 0, 300, 76
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION
CAPTION "処理中..."
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "",                IDC_PROGRESS_FILE,  7,  7, 286, 12, SS_ENDELLIPSIS | SS_NOPREFIX
    CONTROL         "",                IDC_PROGRESS_BAR, "msctls_progress32",
                    WS_CHILD | WS_VISIBLE, 7, 24, 286, 14
    LTEXT           "",                IDC_ELAPSED,     7,  44,  160,  8
    PUSHBUTTON      "キャンセル",       IDC_CANCEL,     116,  54,   68, 14
END

/////////////////////////////////////////////////////////////////////////////
// Settings dialog
/////////////////////////////////////////////////////////////////////////////
IDD_SETTINGS DIALOGEX 0, 0, 280, 252
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "設定"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "デフォルト出力先",  IDC_STATIC,     7,   4, 266,  30
    EDITTEXT        IDC_DEFAULT_DIR,    14,  16, 210,  14, ES_AUTOHSCROLL
    PUSHBUTTON      "参照...",           IDC_BROWSE_DIR, 228, 15,  38,  15

    GROUPBOX        "展開サブフォルダ作成", IDC_STATIC,   7,  42, 266,  66
    RADIOBUTTON     "作成しない",                     IDC_MKDIR_0, 14,  54, 120,  9, WS_GROUP | WS_TABSTOP
    RADIOBUTTON     "単一ファイル展開時のみ作成",      IDC_MKDIR_1, 14,  66, 160,  9
    RADIOBUTTON     "複数エントリ展開時に作成（推奨）", IDC_MKDIR_2, 14,  78, 180,  9
    RADIOBUTTON     "常に作成する",                   IDC_MKDIR_3, 14,  90, 120,  9

    GROUPBOX        "RARファイルの展開エンジン", IDC_STATIC,   7, 116, 266,  30
    LTEXT           "展開に使用:",       IDC_STATIC,    14, 130,  54,   8
    COMBOBOX        IDC_RAR_EXTRACTOR,  70, 128, 110, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    GROUPBOX        "実行ファイル・DLL パス", IDC_STATIC, 7, 154, 266, 74
    LTEXT           "7z.dll:",           IDC_STATIC,    14, 168,  30,   8
    EDITTEXT        IDC_7Z_DLL_PATH,    46, 166, 180,  14, ES_AUTOHSCROLL
    PUSHBUTTON      "参照...",               IDC_BROWSE_7Z, 230, 165,  36,  15
    LTEXT           "unrar.dll:",        IDC_STATIC,    14, 186,  30,   8
    EDITTEXT        IDC_UNRAR_DLL_PATH, 46, 184, 180,  14, ES_AUTOHSCROLL
    PUSHBUTTON      "参照...",               IDC_BROWSE_UNRAR, 230, 183, 36, 15
    LTEXT           "rar.exe:",          IDC_STATIC,    14, 204,  30,   8
    EDITTEXT        IDC_RAR_EXE_PATH,   46, 202, 180,  14, ES_AUTOHSCROLL
    PUSHBUTTON      "参照...",               IDC_BROWSE_RAR, 230, 201,  36,  15

    DEFPUSHBUTTON   "OK",               IDOK,          168, 232,  50,  14
    PUSHBUTTON      "キャンセル",        IDCANCEL,      222, 232,  50,  14
END

/////////////////////////////////////////////////////////////////////////////
// Info dialog
/////////////////////////////////////////////////////////////////////////////
IDD_INFO DIALOGEX 0, 0, 340, 280
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ファイル情報"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "", IDC_INFO_LIST, "SysListView32",
                    LVS_REPORT | LVS_NOSORTHEADER | LVS_SINGLESEL |
                    WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL,
                    7, 7, 326, 253
    DEFPUSHBUTTON   "閉じる", IDOK, 145, 263, 50, 14
END

/////////////////////////////////////////////////////////////////////////////
// Password dialog
/////////////////////////////////////////////////////////////////////////////
IDD_PASSWORD DIALOGEX 0, 0, 220, 72
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "パスワード"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "パスワードを入力してください:", IDC_STATIC, 10, 10, 200, 12
    EDITTEXT        IDC_PASSWORD_INPUT, 10, 26, 200, 14, ES_AUTOHSCROLL | ES_PASSWORD
    DEFPUSHBUTTON   "OK",           IDOK,     104, 50, 50, 14
    PUSHBUTTON      "キャンセル",   IDCANCEL, 158, 50, 50, 14
END

/////////////////////////////////////////////////////////////////////////////
// About dialog
/////////////////////////////////////////////////////////////////////////////
IDD_ABOUT DIALOGEX 0, 0, 300, 170
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "バージョン情報"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            IDI_AILEEX,     IDC_STATIC,         12,  12,  20,  20
    LTEXT           "AileEx Archive Manager", IDC_ABOUT_TITLE, 44, 14, 240, 14
    LTEXT           "https://github.com/Aile2017/AileEx", IDC_ABOUT_URL, 44, 32, 240, 10
    LTEXT           "コンポーネント:", IDC_STATIC,       12,  60, 100,  10
    EDITTEXT        IDC_ABOUT_LIST,                     12,  74, 276,  68,
                    ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL | NOT WS_TABSTOP | WS_VSCROLL | WS_BORDER
    DEFPUSHBUTTON   "OK",           IDOK,              228, 150,  60,  14
END
